<div class="flash-messages">
    {{#if messages}}
        <p class="error-message">{{messages.error}}</p>
        <p class="info-message">{{messages.info}}</p>
    {{/if}}
</div>
<div>
    Profile Name: <p>{{user.username}}</p>

    Status: <p>{{user.status}}</p>

    Languages:
<ul>
    {{#each user.languages}}
    <li>
        <p>{{this}}</p>
    </li>
        {{/each}}
</ul>

<br>
    Skills:
<ul>
    {{#each user.skills}}
    <li>
        <p>{{this}}</p>
    </li>
    {{/each}}
</ul>

<br>
    Projects:
<li>
    {{#each user.projects}}
    <ul>
        <p><a href="/project/{{this}}">{{this}}</a></p>
        <hr>
    </ul>
    {{/each}}
</li>
