<h2>Welcome {{username}} to your account page</h2>
<div>
    Profile Name: {{username}}
<br>
    Status: {{user.status}}
<br>
    Languages:
    <ul>
        {{#each user.languages}}
        <li>
            <p>{{this}}</p>
        </li>
        {{/each}}
    </ul>
<br>
    Skills:
    <ul>
    {{#each user.skills}}
        <li>
            <p>{{this}}</p>
        </li>
    {{/each}}
    </ul>
    <br>
{{#if user.projects}}
    Projects:
<ul>
    {{#each user.projects}}
    <li>
        <p><a href="/project/{{this._id}}">{{this.name}}</a></p>
        <p>Description: {{this.description}}</p>
        <hr>
    </li>
    {{/each}}
</ul>
{{else}}
    You have no projects!
{{/if}}

<div>
    <p><a href="/editProfile/{{user._id}}">Edit Profile</a></p>
</div>
</div>
<div>
    Not working on a project create one:
    <form action="/createProject" method="get">
        <button type="submit">Create a project</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socketclient"></script>
