<h2>Welcome {{user.username}} to your account page</h2>
<div class="flash-messages">
    {{#if messages}}
        <p class="error-message">{{messages.error}}</p>
        <p class="info-message">{{messages.info}}</p>
    {{/if}}
</div>
<div><form action="/users/editProfile" method="GET">
    Profile Name: {{user.username}}

    Status: {{user.status}}

    Languages: <ul>
    {{#each user.languages}}
        <p>{{this}}</p>
    {{/each}}
</ul>

    Skills: <ul>
    {{#each user.skills}}
        <p>{{this}}</p>
    {{/each}}
    <button type="submit">Edit Profile</button>
</form>

</ul>
</div>
<div>
<form>

</form>
</div>
