<h2>Welcome {{username}} to your account page</h2>
<div class="flash-messages">
    {{#if messages}}
        <p class="error-message">{{messages.error}}</p>
        <p class="info-message">{{messages.info}}</p>
    {{/if}}
</div>
<div>
    Profile Name: {{username}}
<br>
    Status: {{status}}
<br>
    Languages: <ul>
    {{#each languages}}
        <p>{{this}}</p>
    {{/each}}
</ul>
<br>
    Skills: <ul>
    {{#each skills}}
        <p>{{this}}</p>
    {{/each}}
</ul>
    <br>
    Projects: <ul>
    {{#if user.projects}}
        {{#each user.projects}}
            <p>{{this}}</p>
        {{/each}}
    {{else}}
        You have no projects
    {{/if}}

</ul>
    <form action="/editProfile" method="GET">
    <button type="submit">Edit Profile</button>
        <input type="hidden" name = {{user.username}}>
</form>

</div>
<div>
    Not working on a project create one:
    <form action="/createProject" method="get">
        <button type="submit">Create a project</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socketclient"></script>