<h2>Welcome {{username}} to your account page</h2>
<div class="flash-messages">
    {{#if messages}}
        <p class="error-message">{{messages.error}}</p>
        <p class="info-message">{{messages.info}}</p>
    {{/if}}
</div>
<div>
    Profile Name: {{username}}
<br>
    Status: {{user.status}}
<br>
    Languages:
    {{#each user.languages}}
        <p>{{this}}</p>
    {{/each}}
<br>
    Skills:
    {{#each user.skills}}
        <p>{{this}}</p>
    {{/each}}
    <br>
{{#if user.projects}}
    Projects:
    {{#each user.projects}}
        <p><a href="/project/{{this._id}}">{{this.name}}</a></p>
        <p>{{this.description}}</p>
        <hr>
    {{/each}}
{{else}}
    You have no projects!
{{/if}}

<div>
    <p><a href="/editProfile/{{user._id}}">Edit Profile</a></p>
</div>
</div>
<div>
    Not working on a project create one:
    <form action="/createProject" method="get">
        <button type="submit">Create a project</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socketclient"></script>
