<div class="flash-messages">
    {{#if messages}}
        <p class="error-message">{{messages.error}}</p>
        <p class="info-message">{{messages.info}}</p>
    {{/if}}
</div>
<div>
    Profile Name: <p>{{user.username}}</p>

    Status: <p>{{user.status}}</p>

    Languages:
    {{#each user.languages}}
        <p>{{this}}</p>
    {{/each}}
<br>
    Skills:
    {{#each user.skills}}
        <p>{{this}}</p>
    {{/each}}
<br>
        Projects:
    {{#each user.projects}}
            <p><a href="/project/{{this}}">{{this}}</a></p>
            <hr>
    {{/each}}