<div class="flash-messages">
    {{#if messages}}
        <p class="error-message">{{messages.error}}</p>
        <p class="info-message">{{messages.info}}</p>
    {{/if}}
</div>
<div>
    Profile Name: {{user.username}}

    Status: {{user.status}}

    Languages: <ul>
    {{#each user.languages}}
        <p>{{this}}</p>
    {{/each}}
</ul>
    Skills: <ul>
    {{#each user.skills}}
        <p>{{this}}</p>
    {{/each}}
</ul>
    Projects: <ul>
    {{#each user.projects}}
        <p>{{this}}</p>
    {{/each}}
</ul>
    <button type="submit">Edit Profile</button>

</div>
<div>
    <form method="POST">
        <button type="submit">Start Messaging</button>
    </form>
</div>
<div id="messagingBox">
    <p>

    </p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socketclient"></script>