<body>
<h1>
    Results from query

</h1>
{{#each results}}
    <a href="/project/{{this.projects.name}}">{{this.username.name}}</a>
    <br>
    Creator: {{this.username.creator}}
    <br>
    Description: {{this.project.description}}
    <br>
    Tags:
    <ul>
        {{#each this.tags}}
            {{this}}
        {{/each}}
    </ul>
    <br>

{{/each}}
All projects <form method="get" action="/listProjects"><button type="submit">All Projects</button></form>
</body>

