<body>
<h1>
    Results from query
</h1>
{{#each results}}
    <p>
        <a href="/project/{{this._id}}">{{this.name}}</a>
        <br>
        Status: {{this.status}}
        <br/>
        Description: {{this.description}}
        <br/>
        Github Link: {{this.githubLink}}
        <br/>
    </p>
{{/each}}
<br/>
</body>

